# Diretório target (Maven)
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
.idea/*.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/
consumer/.vscode/

# Scala
.bsp/

# Python/VENV
consumer/oi/

# Arquivos
consumer/local.csv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl